.root{
	-fx-focus-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: 
    #090a0c,
    linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
    linear-gradient(#003483, #20354b),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    
}
.table-view .column-header {
	
    -fx-background-color: transparent;
	-fx-font-size : 16;
}

.table-view .column-header .label{
    -fx-text-fill: white;
	-fx-font-size : 16;
    -fx-font-family:Gilroy-Regular;
}


.table-row-cell:hover {    
    -fx-background-color: rgb(201, 222, 245);
}
.table-cell {	  
    -fx-padding: 0.5em 0em 0.5em 0.5em;
    -fx-border-color: transparent -fx-box-border transparent transparent;  
    -fx-font: 14px "Segoe UI";    
    -fx-text-fill: #000000;
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {    
    -fx-background-color: rgb(163, 163, 163);
    -fx-background-insets: 0,1 1 1 1 0;
    
}

.menuLabel{
    -fx-font: 22px "Nirmala UI Semilight"; 
    -fx-text-fill: #ffffff;

}
.menuLabel:hover{
	-fx-background-color:rgba(255, 255, 255, 0.336);
    -fx-font-color:rgb(47, 44, 87);
	-fx-label-padding: 0 0 0 5;
}
.menuLabel:pressed{
	-fx-background-color:rgba(131, 174, 255, 0.753);
    
}
#fp:hover{
	-fx-underline:true;
}

.tab{
	-fx-font-size : 20;
	-fx-background-radius: 10;
	-fx-padding : 5 30 10 30;
	-fx-border-width: 40;
}
.tab-label {
    -fx-font-family:Gilroy-Regular;
}

.tab:selected{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-base-color: white;
	-fx-focus-color: transparent;
}
#sideMenu, .loginBackground{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
#settingsButton{
        -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-background-radius: 5,4,3,5;
        -fx-background-insets: 0,1,2,0;
        -fx-text-fill: white;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Arial";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 12px;
        -fx-padding: 10 20 10 20;
}
#coverPane{
	
	-fx-background-image:url('../img/bizertecover.png');
	-fx-background-repeat: stretch;
	-fx-background-size: 100% 100%;
	
}

#profile{
   -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
   -fx-background-radius:6em;
   /*-fx-border-width: 1;
   -fx-border-style: solid solid solid solid;
   -fx-border-color:white;
   -fx-border-radius:6em;*/
}
#profile:hover{
	-fx-border-width: 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-radius:6em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   
}
#tabBackground{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));   
}

.CustomButtons{
    -fx-font-size : 18;
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 40;
    -fx-background-color: rgba(0, 0, 0,0.1);

    -fx-text-fill: #015183;
}
.CustomButtons:hover{
	-fx-background-color: rgba(1, 81, 131,0.4);
    -fx-text-fill: white;
}
.CustomButtons:pressed {
    -fx-background-color: rgba(1, 81, 131,1);
    -fx-text-fill: white;
}

#Login_Button{
	-fx-text-fill: white;
	-fx-font-size : 18;
	-fx-background-radius: 10;
}
.loginTextFields{
	-fx-background-color: transparent;
	-fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgba(58, 162, 247, 0.842);
    -fx-border-radius:10;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 10;
    -fx-font-size : 18;
    -fx-text-fill: white;
}
.loginTextFields:focused {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: rgba(58, 162, 247, 0.842);
    }
.searchField{
	-fx-background-radius:20;
    -fx-font-size : 15;
 }
 
.selectAllButton{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-font-size : 18;
	-fx-border-color: transparent;
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-family:Gilroy-Regular;
    -fx-cursor: hand;
    /*-fx-label-padding:0 5 0 0 ;*/
}

.headers{
	-fx-alignment: center;
	-fx-background-radius: 0 0 25 25;
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    
    -fx-text-fill: white;
    -fx-border-style: hidden; 
    -fx-font-family: Gilroy-Regular;
 	-fx-font-size : 20;
}
.dialogheader{
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #C8A97E 20%, #61596E 100%),
        linear-gradient(#003483, #20354b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-alignment: center;
    -fx-text-fill : white;
    -fx-font-family:Gilroy-Regular;
 	-fx-font-size : 25;
    
}
.customChoiceBox{
	-fx-background-radius:20;
	-fx-background-color: rgba(58, 58, 58, 0.075);
}
.customChoiceBox:hover{
	-fx-background-color: #6586b8;
}
.dialogButtons{
	-fx-background-radius:20;
	-fx-background-color: rgba(58, 58, 58, 0.075);
	-fx-font-family:Gilroy-Regular;
	-fx-font-size : 15;
	
}
.dialogButtons:hover{
    -fx-font-color:rgb(255, 255, 255);
	-fx-background-color: #6586b8;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.5, 0.0, 0.0);	
	-fx-cursor: hand;
}
.dialogButtons:focused{
	-fx-background-color: #74a4eb;
}
.globalFont{
    -fx-font-family:Gilroy-Regular;
}
.dialogLabels{
    -fx-font-family:Gilroy-Regular;
    -fx-font-size : 18;
}
.dialogTextFields{
	-fx-background-radius:20;
	-fx-font-family:Gilroy-Regular;
	-fx-font-size : 18;
	
}
.dialogShadow{
	-fx-border-color: #002b6b;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);*/
}
.paneButtonIcons{
    -fx-background-color: rgb(212, 226, 255);
    -fx-background-radius: 25 25 25 25;
}
.paneButtonIcons:hover{
	-fx-background-color: rgb(170, 207, 255);
    -fx-cursor: hand;

}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #003483;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 20px;
    -fx-padding: 8px;
    -fx-mark-highlight-color: #002b6b;
    -fx-mark-color: #002b6b;
}

.default-color0.chart-bar { -fx-bar-fill: #7CB9E8; }
.default-color1.chart-bar { -fx-bar-fill: #00308F; }
.default-color2.chart-bar { -fx-bar-fill: #6CB4EE; }
.default-color3.chart-bar { -fx-bar-fill: #c62b00; }
.default-color4.chart-bar { -fx-bar-fill: #2f357f; }
.default-color5.chart-bar { -fx-bar-fill: #860061; }
.default-color6.chart-bar { -fx-bar-fill: #c62b00; }
.default-color7.chart-bar { -fx-bar-fill: #ff5700; }

.default-color0.chart-pie { -fx-pie-color: #7CB9E8; }
.default-color1.chart-pie { -fx-pie-color: #00308F; }
.default-color2.chart-pie { -fx-pie-color: #c62b00; }
.default-color3.chart-pie { -fx-pie-color: #2f357f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

.countersdiv{
    -fx-background-radius: 15;
    -fx-background-color : rgb(205, 231, 252);

}
.countersdiv:hover{
    -fx-background-color : rgb(177, 221, 255);

}
.dashboardLables{
    -fx-font: 18px "Nirmala UI Semilight"; 

}
#empCount, #teamCount{
    -fx-alignment : center;
	-fx-font-size:40;
}
#msgLabel{
	-fx-background-color : rgb(205, 231, 0);
}